<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/very-simple-swing-chat-master/very-simple-swing-chat-master/src/ClienteSocket.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ClienteSocket"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="very-simple-swing-chat-master"/>
</launchConfiguration>
